<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/a4e61d7a9e.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <header>
            
            <div class="cabezera1">
                <img class="logo" src="img/logo-mercado-liebre.svg" >
                <section class="buscar-lupa">
                    <input class="buscador" type="text">
                    <button class="btn-buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
                </section>
            </div>
            <label id="h2"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</label>
            <div class="cabezera2">
                <button class="menu"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="cabecera_remplaz">
                <nav>
                    <ul class="primera" type ="none">
                        <li class="texto"><a href="#">Todos los productos</a></li>
                        <li class="texto"><a href="#">Ofertas</a></li>
                        <li class="texto"><a href="#">Tiendas oficiales</a></li>
                        <li class="texto"><a href="#">Vender</a></li>
                        <li class="texto"><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="segunda" type="none">
                        <li class="texto"><a href="#">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                        <li class="texto"><a href="#">ingresá<i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                        <li class="texto"><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <img class="anuncio" src="img/img-home-banner.jpg" >
            <label class="titulo-anuncio">Basado en tu últimas visitas</label>
            <section class="produtos-visitados">

                <div class="produto1">
                    <img class="img-pro" src="img/img-cafetera-moulinex.jpg" >
                    <label class="nombre-producto">Cafetera moulinex <i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio">530$</label>
                        <label id="precio">503.5$</label>
                        <label id="descuento">5% ON</label>
                    </section>
                    <div class="description">
                        <p>
                            Diseño compacto. Más de 20 preparaciones al presionar un botón. Modo Eco Apagado automático después de 5 minutos. 
                        </p>
                    </div>
            
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/img-macbook-pro-2019.jpg" >
                    <label class="nombre-producto">Macbook pro 2021<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio">3500$</label>
                        <label id="precio">3150$</label>
                        <label  id="descuento">10% ON</label>
                    </section>
                    <div class="description">
                        <p>
                            Apple MacBook Pro 2021 (16 pulgadas, chip Apple M1 Pro con CPU de 10 núcleos y GPU de 16 núcleos, 16 GB de RAM, 1 TB SSD). 
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/img-samsung-galaxy-s10.jpg" >
                    <label class="nombre-producto">samsung galaxy s10<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label id="precio">1200$</label>
                        <label id="descuento">25% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            SAM Galaxy S10 Smartphone SM G973F, 128 GB 8 GB de RAM, prisma negro.
                        </p>
                    </div>
                    
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/img-tv-samsung-smart.jpg" >
                    <label class="nombre-producto">tv samsung smart<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label id="precio">1000$</label>
                        <label id="descuento">20% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Televisor inteligente Android LED de 32 pulgadas 720p HD con Google Assistant y Chromecast integrado.
                        </p>
                    </div>
                </div>
            </section>
            <label class="titulo-anuncio">Más productos</label>
            <section class="nuevos">
                <div class="produto1">
                    <img class="img-pro" src="img/maus-logit.jpg" >
                    <label class="nombre-producto">Mouse logit 910<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio">80$</label>
                        <label id="precio">76$</label>
                        <label  id="descuento">5% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Ratón con cable con diseño ergonómico que reduce la fatiga de la mano, mouse de oficina y hogar de 1600 DPI (negro, cableado).
                        </p>
                    </div>
                    
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/teclado-mecanico.jpg" >
                    <label class="nombre-producto">teclado-mecanico<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label id="precio">200$</label>
                        <label  id="descuento">0% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Mecánico para juegos, retroiluminación LED arco iris, 104 teclas antifantasma, interruptores negros de respuesta rápida.
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/mesa-gamer.jpg" >
                    <label class="nombre-producto">Mesa gamer infernus<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label id="precio">300$</label>
                        <label  id="descuento">25% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Escritorio para juegos de 47 pulgadas, estación de trabajo para jugadores para oficina en casa, color negro.
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/xbox.webp" >
                    <label class="nombre-producto">xbox one + control<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio">300$</label>
                        <label id="precio">240$</label>
                        <label  id="descuento">20% ON</label>
                    </section>
                    <div class="description">
                        <p>
                            XBOX One S 500GB Console, (discontinuada edición) 
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/philips-monitor.jpg" >
                    <label class="nombre-producto">Monitor philips<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio"></label>
                        <label id="precio">100</label>
                        <label  id="descuento">20% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Monitor de computadora de negocios de 24 pulgadas Full HD 1920 x 1080p.
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/portatil-thinkpad.jpg" >
                    <label class="nombre-producto">Portati thinkpad<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio">1000$</label>
                        <label id="precio">750$</label>
                        <label  id="descuento">35% ON</label>
                    </section>
                    <div class="description">
                        <p>
                            ThinkPad de 14 pulgadas, Intel Core i5-1135G7, 16 GB de RAM, 256 GB de SSD, Intel Iris Xe Graphics, Windows 10 Pro.
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/equipo-sonido.jpeg" >
                    <label class="nombre-producto">Equipo de sonido timelines<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio"></label>
                        <label id="precio">250$</label>
                        <label  id="descuento">0% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            Altavoces Bluetooth con diseño de calavera e inalámbrico de 50 W, altavoces portátiles con luces y micrófono.
                        </p>
                    </div>
                </div>
                <div class="produto1">
                    <img class="img-pro" src="img/tomo-onePiece.jpg" >
                    <label  class="nombre-producto">tomos onePiece usado<i class="fa-solid fa-truck-fast"></i></label>
                    <section class="descripcion">
                        <label class="tachado" id="precio"></label>
                        <label id="precio">100$</label>
                        <label  id="descuento">1% OFF</label>
                    </section>
                    <div class="description">
                        <p>
                            40 tomos de la serie de one piece en buen estado , usados y envio gratis.
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="info">
                <label class="icon" ><i class="fa-sharp fa-solid fa-credit-card"></i></label>
                <label class="titu">Pagá con tarjeta o en efectivo</label>
                <p class="des">Con mercado libre cash, tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. Y siempre es seguro!.</p>
                
            </div>
            <div class="info">
                
                <label class="icon"><i class="fa-solid fa-gift"></i></label>
                <label class="titu">Envios gratis desde $ 200</label>
                <p class="des">Solo por resgistrarte en Mercado liebre tenés envíos gratis en miles de produtos. Es un beneficio de mercado puntos.</p>
            </div>
            <div class="info">
                <label class="icon" ><i class="fa-solid fa-user-shield"></i></label>
                <label class="titu">Seguridad, de principio a fin</label>
                <p class="des">No te gusta? devolvelo! En Mercado liebre , no hay nada que no puedas hacer, porque estás suempre protegido.</p>
            </div>
            <div class="final">
                <p>copyright&copy; 1999-2019 MercadoLiebre S.R.L </p>
            </div>
        </footer>
    </body>
</html>