*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #ebc927;
    justify-content: center;
}
.cabezera1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    height: 40px;
}

.buscar-lupa{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.logo{
    width:  40vw;
}

.buscador{
    background-color: #ffff;
    width: 38vw;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: 0px;
    padding: 5px;
}

.btn-buscador{
    width: 30px;
    border: none;
    border-left: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    background-color: #ffff;
    margin-right: 40px;
}

.btn-buscador:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.9);
}
#h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100vw;
}

#h2 .fa-solid{
    margin-right: 3px;
}

.cabezera2 {
    display: flex;
    justify-content: center;

}

.menu{
    height: 40px;
    margin: 10px;
    width: 40px;
    padding: 5px;
    background-color: #03264b;
    color: #ffff;
    border: none;
    border-radius: 5px;
}
.menu:hover {
    transform: scale(1.1);
}
.menu:hover{
    cursor: pointer;
}


.fa-bars{
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 0px;
}
nav > ul {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 40px;
    align-self: center;
    cursor: pointer;
}

nav > ul > li:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fae162;
    border-radius: 5px;
}

.primera{
    text-align: center;
}
.texto{
    display: inline;
    text-align: center;
    height: 50px;
    padding: 10px;
    padding-top: 15px;
}
.texto a{
    color: black;
    text-decoration: none;
}



nav > ul> li > a>i{
    font-size: 15px;
    margin-left: 5px;
}
.cabecera_remplaz{
    display: none;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #ebebeb;
    
}
.anuncio{
    height: 120px;
    image-rendering: optimizeQuality;
}
.produtos-visitados{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}
.produto1 {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: all 200ms ease;
}
.produto1:hover{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
    
}

.produto1:hover > .descripcion{
    border-radius: 0px;
}
.titulo-anuncio{
    text-align: center;
    margin: 20px;
    color: #666666;
    font-size: 30px;
}


.img-pro{
    position: relative;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    height: 300px;
    
}
.img-pro:hover{
    cursor: pointer;
}
.nombre-producto{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 1px;
    background-color: #ffff;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    
}

.fa-truck-fast{
    position: absolute;
    color: #3ab54a;
    font-size: 30px;
    padding: 8px;
    border: 1px solid #3ab54a;
    border-radius: 100%; 
    top: -20px;
    right: 23px;
    background-color: #ffff;
    
}
.nombre-producto:hover {
    cursor: pointer;
    border-radius: 0px;
}
.descripcion{
    background-color: #ffff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
.descripcion > label:hover{
    cursor: pointer;
}
.descripcion:hover {
    cursor: pointer;
    border-radius: 0px;
    
}
.produto1:hover > .description{
    visibility: visible;
    opacity: 1;
    display: flex;
    animation-name: apareciendo;
    animation-duration: 500ms;
}

#precio{
    font-size: 16px;
}

#descuento{
    font-size: 13px;
    color: #3bb54a;
}

.tachado{
    text-decoration: line-through;
}

.nuevos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    
}

.icon{
    font-size: 40px;
    margin: 10px;
    color: #125ac3;
}

.titu{
    color: #666666;
    font-size: 25px;
    margin: 20px;
}

.des{
    text-align: inherit;
}

.final{
    margin-top: 10px;
    text-align: center;
}


.description{
    background-color: #ffff;
    padding: 15px;
    padding-top: 2px;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    border-radius: 0px 0px 10px 10px;
    font-size: 14px;
}



@keyframes apareciendo{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}



/*css adaptativo*/


@media (min-width: 570px){
    .produtos-visitados{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .produto1{
        margin-left: 20px;
        margin-right: 20px;
        width: 40%;
        height: 100%;
    }

    .nuevos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .anuncio{
        height: 200px;
    }
}



@media (min-width: 770px){
    footer{
        flex-direction: row;
        justify-content: space-around;

    }
    .cabezera2{
        display: none;
    }

    .cabecera_remplaz{
        display: initial;
    }
    .anuncio{
        height: 200px;
    }

    footer{
        position: relative;
        height: 320px;
    }

    .final{
        display: initial;
        position: absolute;
        bottom: 10px;
        
    }

}


@media (min-width: 1050px){
    .produto1{
        width: 25%;
    }
    .anuncio{
        height: 300px;
    }

    .buscador{
        width: 30vw;
    }
    .buscar-lupa{
        justify-content: flex-start;
    }


    footer{
        position: relative;
        height: 300px;
    }

    .final{
        display: initial;
        position: absolute;
        bottom: 10px;
        
    }

}


@media (min-width: 1350px){
    header{
        position: relative;
    }
    #h2{
        width: 20%;
        position: absolute;
        text-align: right;
        top: 16px;
        right: 200px;
    }
    .logo{
        width: 30%;
    }

    .buscar-lupa{
        width: 70%;
    }

    .produto1{
        width: 20%;
    }
    .info{
        width: 22%;
        border-bottom: 1px solid #ebebeb;
    }

    footer{
        position: relative;
        height: 300px;
    }

    .final{
        display: initial;
        position: absolute;
        bottom: 10px;
        
    }



}

