<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingresar</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/a4e61d7a9e.js" crossorigin="anonymous"></script>
    <link rel="icon"  href="img/mercado-libre.png" >
</head>
<body>
    <header>
            
        <div class="cabezera1">
            <a href="/" class="logo"><img src="img/logo-mercado-liebre.svg" ></a>
            <section class="buscar-lupa">
                <input class="buscador" type="search" placeholder="Buscar productos, marcas y más">
                <button class="btn-buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>
        </div>
        <label id="h2"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</label>
        <div class="cabezera2">
            <button class="menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="cabecera_remplaz">
            <nav>
                <ul class="primera" type ="none">
                    <li class="texto"><a href="#">Todos los productos</a></li>
                    <li class="texto"><a href="#">Ofertas</a></li>
                    <li class="texto"><a href="#">Tiendas oficiales</a></li>
                    <li class="texto"><a href="#">Vender</a></li>
                    <li class="texto"><a href="#">Ayuda</a></li>
                </ul>
                <ul class="segunda" type="none">
                    <li class="texto"><a href="/registro">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                    <li class="texto"><a href="/login">ingresá<i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                    <li class="texto"><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <form class="form-login">

           
            <h2 id="titulo-s">Iniciar Sesión</h2>
            <div class="form-2">
                <label for="nombre">Usuario</label>
                <input type="text" id="nombre">
                <label for="contraseña">Contraseña</label>
                <input type="password" id=""contraseña>
                <a href="#">Has olvidado tu contraseña ?</a>
                <div class="btn">
                    <button type="submit">Enviar</button>
                </div>
                <a href="/registro">No tienes una cuenta? Registrarse</a>
            </div>
        </form>

    </main>
    
    <footer>
        <div class="info">
            <label class="icon" ><i class="fa-sharp fa-solid fa-credit-card"></i></label>
            <label class="titu">Pagá con tarjeta o en efectivo</label>
            <p class="des">Con mercado libre cash, tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. Y siempre es seguro!.</p>
            
        </div>
        <div class="info">
            
            <label class="icon"><i class="fa-solid fa-gift"></i></label>
            <label class="titu">Envios gratis desde $ 200</label>
            <p class="des">Solo por resgistrarte en Mercado liebre tenés envíos gratis en miles de produtos. Es un beneficio de mercado puntos.</p>
        </div>
        <div class="info">
            <label class="icon" ><i class="fa-solid fa-user-shield"></i></label>
            <label class="titu">Seguridad, de principio a fin</label>
            <p class="des">No te gusta? devolvelo! En Mercado liebre , no hay nada que no puedas hacer, porque estás suempre protegido.</p>
        </div>
        <div class="final">
            <p>copyright&copy; 1999-2019 MercadoLiebre S.R.L </p>
        </div>
    </footer>
</body>
</html>